%template(name='achievements')
  .btn-group.pull-right
    -#%button.btn(type="button" data-filter="completed" title="Hide completed achievements")
      %i.icon-certificate
    -#%button.btn(type="button" data-filter="accepted" title="Hide quests")
      %i.icon-star
    -#%button.btn(type="button" data-filter="uncompleted" title="Hide uncompleted achievements") 
      %i.icon-globe
    <button class="btn {{isActive "btn-completed" "true"}}" type="button" data-filter="completed" title="Toggle completed achievements">
    %i.icon-certificate
    </button>
    <button class="btn {{isActive "btn-accepted" "true"}}" type="button" data-filter="accepted" title="Toggle favourites">
    %i.icon-star
    </button>
  .clearfix

  -#{{#if newAchievement}}
  -#{{#with newAchievement}}
  -#<a href="/achievements/{{newAchievement._id}}/edit" class="new fold"><i class="icon-certificate"></i> New achievement</a>
  -#-#{{> achievement}}
  -#{{/with}}
  -#{{/if}}

  .fold.advice.new
    %a(href="/achievements/new")
      %i.icon-certificate
      New achievement

  {{#if achievements}}
  {{#each achievements}}
  .fold
    {{> achievement}}
  {{else}}
  .fold
    {{> loading}}
  {{/each}}
  {{else}}
  .fold
    {{> noContent}}
  {{/if}}

  {{> loadMore}}
