%template(name='achievements')
  .clearfix

  -#{{#if newAchievement}}
  -#{{#with newAchievement}}
  -#<a href="/achievements/{{newAchievement._id}}/edit" class="new fold"><i class="icon-certificate"></i> New achievement</a>
  -#-#{{> achievement}}
  -#{{/with}}
  -#{{/if}}
  <a href="/achievements/new" class="new fold"><i class="icon-certificate"></i> New achievement</a>

  {{#if achievements}}
  {{#each achievements}}
  .fold
    {{> achievement}}
  {{else}}
  .fold
    {{> loading}}
  {{/each}}
  {{else}}
  .fold
    {{> noContent}}
  {{/if}}

