%template(name='achievements')
  -#.btn-group.pull-right(data-toggle="buttons-checkbox")
    %button.btn.active(type="button" title="Show completed achievements")
      %i.icon-certificate
    %button.btn.active(type="button" title="Show quests")
      %i.icon-star
    %button.btn.active(type="button" title="Show uncompleted achievements") 
      %i.icon-globe
  .clearfix

  -#{{#if newAchievement}}
  -#{{#with newAchievement}}
  -#<a href="/achievements/{{newAchievement._id}}/edit" class="new fold"><i class="icon-certificate"></i> New achievement</a>
  -#-#{{> achievement}}
  -#{{/with}}
  -#{{/if}}

  .fold.advice.new
    %a(href="/achievements/new")
      %i.icon-certificate
      New achievement

  {{#if achievements}}
  {{#each achievements}}
  .fold
    {{> achievement}}
  {{else}}
  .fold
    {{> loading}}
  {{/each}}
  {{else}}
  .fold
    {{> noContent}}
  {{/if}}

  {{> loadMore}}
